<!DOCTYPE html>
<html>

<head>
	<title>Mashup</title>
	<link rel="stylesheet" href="style.css">
</head>
  <body>
	  <header>
            <nav>
                <ul>
                    <li><a href="#">Αρχική </a></li>
                    <li><a href="#">Προφίλ </a></li>
                    <li><a href="#">Μυνήματα </a></li>
                    <li><a href="#">Ομάδες </a></li>
                    <li><a href="#">Ρυθμισεις </a></li>
                </ul>
            </nav>
        </header>
  </body>
</html>
