*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 500px;
    width: 100%;
    background-color: rgb(92, 147, 206);
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.container{
    background: white;
    border-radius: 5px;
    box-shadow: 0 0  5px black;
    padding: 40px 30px;
}

.container .login-text{
    color:black;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
}
.container .login-name .input-group input{
    width: 100%;
    height: 100%;
    border: 2px solid white;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}
.container .login-name .input-group input:focus, .container .login-name .input-group input:valid{
    border-color:  blue;
}
.container .login-name .input-group .btn{
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: blue;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: cornsilk;
    cursor: pointer;
    transition: .3s;
}
.container .login-name .input-group .btn:hover{
    transform: translate(-5px);
    background: darkblue;
}
