nav{
    background-color:teal;
    height: 53px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 5000px;

}

nav ul li{
    position: relative;
    float: left;
    width: 285px;
    text-align: center;
}
nav ul li:hover ul{display: block;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    font-size: 1.2em;
    box-sizing: border-box;
    border-right: solid 2px white;
    border-left: solid 2px white;
}
nav ul li:hover a{
    background: white;
    color: teal;
    text-decoration: none;
    transition: 0.5s;
}
