{% extends "mashup/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.publisher.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.publisher.username %}">{{ object.publisher }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
          <div>
            {% if object.publisher == user %}
              <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            {% endif %}
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'post-comment' object.id %}">Comment</a>
          </div>
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
      <h4>Comments</h4>
        {% for comment in post.comments.all %}
          <div class="media content-section">
            <img class="rounded-circle article-img" src="{{ comment.publisher.profile.image.url }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' comment.publisher.username %}">{{ comment.publisher }}</a>
                <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
                {% if comment.publisher == user %}
                  <div>
                    <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'comment-update' comment.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment-delete' comment.id %}">Delete</a>
                  </div>
                {% endif %}
              </div>
            {{ comment.content }}
          </div>
        </div>
        {% endfor %}
  </article>
{% endblock content %}
